{% extends "base.html" %}


{% block content %}
{% load widget_tweaks %}
<div class="container-fluid">
    <div class="row">
            <div class="col-md-12">
                <div class="panel ">
                    <div class="panel-body panel-form"> 
                        <form action=""  method="post" class="form-horizontal">
                            {% csrf_token %}
                            <div class="col-md-8 ">
                                    <div class="row ">
                                            <div class="col-xs-12">
                                                <h4 >Informasi Jabatan</h4>
                                                <hr>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                                    Nama Jabatan
                                                </label>
                                                <div class="col-md-8">
                                                    {{ form.position |add_class:"form-control" }}

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                                    Tanggal Kerja
                                                </label>
                                                <div class="col-md-8">
                                                    {{ form.start_date |add_class:"form-control" }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                                    Gaji Pokok
                                                </label>
                                                <div class="col-md-8">
                                                    {{ form.salary |add_class:"form-control" }}
                                                </div>
                                            </div>       
                                            <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="pull-right">
                                                            <button class="btn btn-warning btn-sm" type="submit">
                                                                Simpan                                      </button>
                                                            <a href="/employer">
                                                                <button class="btn btn-danger btn-sm" type="button">Batal</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                    </div>
                            </div>
                        </form>
                </div>
        </div>
    </div>
</div>

{% endblock  %}