{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            History Karir
                            <a href="{% url 'employer-job' employer_id %}" class="btn btn-primary">Add</a>
                        </h4>
                        
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>Tgl Bekerja</th>
                                <th>Nama Pekerjaan</th>
                                <th>Gaji Pokok</th>
                                <th>Edit</th>
                            </thead>
                            <tbody>
                                {% for job in object_list %}
                                <tr>
                                    <td>{{job.start_date}}</td>
                                    <td>{{job.position}}</td>
                                    <td>{{job.salary}}</td>
                                    <td>
                                        <a href="{% url 'job-update' job.id %}" class="btn btn-primary">Edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock  %}



{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.7/sweetalert2.all.min.js"></script>
<script>
        function checkDelete(id) {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                $.ajax({
                    url:"/employer/delete/"+id,
                    type: 'GET',
                })
                .done(function(res) {
                    swal(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    location.reload();
                })
            }
        })
        }
    </script>

{% endblock  %}
