
{% extends "base.html" %}

{% block content %}
{% load widget_tweaks %}
<div class="container-fluid">
    <div class="row">
            <div class="col-md-8">
                    <div class="panel ">
                        <div class="panel-body panel-form"> 
                            <form action=""  method="post" class="form-horizontal">
                                {% csrf_token %}
                                
                                <div class="row ">
                                        <div class="col-xs-12">
                                            <h4 >Informasi Pribadi</h4>
                                            <hr>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                        Nama
                                    </label>
                                    <div class="col-md-8">
                                            {{ form.name |add_class:"form-control" }}
                                            <p class="help-block text-right">{{form.name.errors }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                        Jenis Kelamin
                                    </label>
                                    <div class="col-md-8">
                                        {{form.gender | add_class:"form-control"}}
                                        <p class="help-block text-right">{{form.gender.errors }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            No KTP
                                        </label>
                                        <div class="col-md-8">
                                                {{ form.no_ktp |add_class:"form-control" }}
                                                <p class="help-block text-right">{{form.no_ktp.errors }}</p>
                                        </div>
                                    </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            Tempat Lahir
                                        </label>
                                        <div class="col-md-8">
                                        {{ form.bron_place |add_class:"form-control" }}
                                        <p class="help-block text-right">{{form.bron_place.errors }}</p>
                                </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            Tanggal Lahir
                                        </label>
                                        <div class="col-md-8">
                                            {{ form.born_date |add_class:"form-control"  }}
                                            <p class="help-block text-right">{{form.born_date.errors }}</p>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            Pendidikan Terakhir
                                        </label>
                                        <div class="col-md-8">
                                            {{ form.last_education |add_class:"form-control" }}
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            Nama Institusi Pendidikan
                                        </label>
                                        <div class="col-md-8">
                                            {{ form.educational_institution |add_class:"form-control" }}
                                        </div>
                                </div>
                                
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            Jurusan / Program Studi
                                        </label>
                                        <div class="col-md-8">
                                            {{ form.major |add_class:"form-control" }}
                                       
                                        </div>
                                </div>
                                <div class="row ">
                                        <div class="col-xs-12">
                                            <h4 >Informasi Kontak</h4>
                                            <hr>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                        No. HP
                                    </label>
                                    <div class="col-md-8">
                                            {{ form.phone |add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                        E-mail
                                    </label>
                                    <div class="col-md-8">
                                            {{ form.email |add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                        Alamat Rumah
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.address |add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="row ">
                                        <div class="col-xs-12">
                                            <h4 >NPWP</h4>
                                            <hr>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            NO NPWP
                                        </label>
                                        <div class="col-md-8">
                                            {{ form.no_npwp |add_class:"form-control" }}
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            Status Wajib Pajak
                                        </label>
                                        <div class="col-md-8">
                                                {{ form.status_pajak |add_class:"form-control" }}
                                        </div>
                                </div>
                                <div class="row ">
                                        <div class="col-xs-12">
                                            <h4 >Rekening Bank</h4>
                                            <hr>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            Nama Bank
                                        </label>
                                        <div class="col-md-8">
                                                {{ form.name_bank |add_class:"form-control" }}
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            Nama Pemegang Rekening
                                        </label>
                                        <div class="col-md-8">
                                                {{ form.account_name_bank |add_class:"form-control" }}
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                            No. Rekening
                                        </label>
                                        <div class="col-md-8">
                                                {{ form.no_bank |add_class:"form-control" }}
                                        </div>
                                </div>
                                
                                
                                <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="pull-right">
                                                <button class="btn btn-warning btn-sm" type="submit">
                                                    Simpan                                      </button>
                                                <a href="/personalia">
                                                    <button class="btn btn-danger btn-sm" type="button">Batal</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                            </form>
                        </div>
                    </div>
            </div>
    </div>

</div>
{% endblock  %}