{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Payroll</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Animation library for notifications   -->
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'assets/css/paper-dashboard.css' %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Payroll 
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                {% if  request.user.is_admin  %}
                <li>
                    <a href="/employer">
                        <i class="ti-user"></i>
                        <p>Karyawan</p>
                    </a>
                </li>
                <li>
                    <a href="/attendance">
                        <i class="ti-view-list-alt"></i>
                        <p> List Kehadiran</p>
                    </a>
                </li>
                <li>
                        <a href="/rekap-kehadiran">
                            <i class="ti-view-list-alt"></i>
                            <p> Rekap Kehadrian</p>
                        </a>
                    </li>
                <li>
                    <a href="/payroll">
                        <i class="ti-text"></i>
                        <p>Gaji</p>
                    </a>
                </li>
                <li>
                    <a href="/allowance">
                        <i class="ti-pencil-alt2"></i>
                        <p>Tunjangan</p>
                    </a>
                </li>
                <li>
                    <a href="/cuti">
                        <i class="ti-location-arrow"></i>
                        <p>Kelola Cuti</p>
                    </a>
                </li>
                <li>
                    <a href="/izin">
                        <i class="ti-arrow-circle-down"></i>
                        <p>Persetujuan Izin/Sakit </p>
                    </a>
                </li>
                <li>
                        <a href="/cuti/pengajuan">
                            <i class="ti-arrow-circle-down"></i>
                            <p>Persetujuan Cuti </p>
                        </a>
                    </li>
                {% endif %}


                {% if  request.user.is_employer  %}
                <li>
                    <a href="/izin/create">
                        <i class="ti-arrow-circle-down"></i>
                        <p>Pengajuan Izin/Sakit </p>
                    </a>
                </li>
                <li>
                    <a href="/izin/employer">
                        <i class="ti-arrow-circle-down"></i>
                        <p>List Izin/Sakit </p>
                    </a>
                </li>

                <li>
                        <a href="/cuti/create">
                            <i class="ti-arrow-circle-down"></i>
                            <p>Pengajuan Cuti </p>
                        </a>
                    </li>
                    <li>
                        <a href="/cuti/employer/">
                            <i class="ti-arrow-circle-down"></i>
                            <p>List Cuti </p>
                        </a>
                    </li>

                {% endif %}
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{title}}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       
						<li>
                            <a href="/logout">
								<i class="ti-power-off"></i>
								<p>Logout</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

		<div class="content">
            {% block content%}
            {% endblock %}
		</div>


    </div>

    {% block modal%}
    {% endblock %}

</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{% static 'assets/js/bootstrap-checkbox-radio.js' %}"></script>

	<!--  Charts Plugin -->
	<script src="{% static 'assets/js/chartist.min.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'assets/js/bootstrap-notify.js' %}"></script>


    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="{% static 'assets/js/paper-dashboard.js' %}"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'assets/js/demo.js' %}"></script>
    
    


    {% block js%}
    {% endblock %}


</html>
