{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-user"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Jumlah Karyawan</p>
                                    {{countEmpy}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-info"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Jumlah<br>Izin</p>
                                    {{countIzin}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Jumlah <br>Sakit</p>
                                    {{countSakit}}
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-twitter-alt"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Jumlah <br>Cuti</p>
                                    {{countCuti}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Status Kehadiran </h4>
                        </div>
                        <div class="content">
                            <div id="persentase" class="ct-chart ct-perfect-fourth"></div>

                            <div class="footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Hadir
                                    <i class="fa fa-circle text-danger" style="color:#F3BB45"></i> Sakit 
                                    <i class="fa fa-circle text-warning"style="color:#EB5E28" ></i> Izin 
                                    <i class="fa fa-circle text-warning" style="color:#7AC29A"></i> Cuti 
                                    <i class="fa fa-circle text-warning" style="color:#7A9E9F" ></i> Tidak Masuk
                                </div>
                                <hr>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>

{% endblock  %}


{% block js %}
<script>
        $(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'ti-gift',
            	message: "Welcome to <b>Sistem Manajemen Karyawan</b> "

            },{
                type: 'success',
                timer: 4000
            });

            Chartist.Pie('#persentase', {
                labels: ['{{persentaseHadir}}%','{{persentaseSakit}}%','{{persentaseIzin}}%','{{persentaseCuti}}%','{{persentaseTidakMasuk}}%'],
                series: [{{persentaseHadir}}, {{persentaseSakit}},{{persentaseIzin}},{{persentaseCuti}},{{persentaseTidakMasuk}}]
              });

    	});
</script>
{% endblock  %}


