<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            table{
                display: inline-block;
            }
            table td {
                border-bottom: 1px solid #eee;
                padding: 5px;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Slip Gaji</p>
            </div>
        <div>
        <div class='details'>
            Nama : {{slip.employer.name}}<br/>
            Jabatan: {{slip.employer.position}} <br/>
            Status Pajak: {{slip.employer.status_pajak}} <br/>
            <hr class='hrItem' />
        </div>
        <table width="100%">
                <tr class="heading">
                    <td>Income </td>
                    <td>Unit </td>
                    <td>Amount </td>
                </tr>
                {% for i in slip.income  %}
                <tr class="item">
                    <td>{{i.name}}</td>
                    <td>{{i.unit}}</td>
                    <td>{{i.total}}</td>
                </tr>
                {% endfor %}

        </table>
        <hr class='hrItem' />
        <table width="100%">
                <tr class="heading">
                    <td>Deduction </td>
                    <td>Unit </td>
                    <td>Amount </td>
                </tr>
                {% for i in slip.deduction  %}
                <tr class="item">
                    <td>{{i.name}}</td>
                    <td>{{i.unit}}</td>
                    <td>{{i.total}}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    </body>
</html>
