{% extends "base.html" %}


{% block content %}
{% load widget_tweaks %}
<div class="container-fluid">
    <div class="row">
            <div class="col-md-12">
                <div class="panel ">
                    <div class="panel-body panel-form"> 
                        <form action=""  method="post"   class="form-horizontal">
                            {% csrf_token %}
                            <div class="col-md-8 ">
                                    <div class="row ">
                                            <div class="col-xs-12">
                                                <h4 >Pengajuan Cuti</h4>
                                                <hr>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                                    Tagal 
                                                </label>
                                                <div class="col-md-8">
                                                    {{ form.date |add_class:"form-control" }}

                                                </div>
                                            </div>
                                          
                                            <div class="form-group">
                                                <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                                    Keterangan
                                                </label>
                                                <div class="col-md-8">
                                                    {{ form.keterangan |add_class:"form-control" }}
                                                </div>
                                            </div>       
                                            
                                            <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="pull-right">
                                                            <button class="btn btn-warning btn-sm" type="submit">
                                                                Simpan                                      </button>
                                                            <a href="/employer">
                                                                <button class="btn btn-danger btn-sm" type="button">Batal</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                    </div>
                            </div>
                        </form>
                </div>
        </div>
    </div>
</div>

{% endblock  %}



{% block js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $('input[name="date"]').daterangepicker();

</script>
{% endblock  %}
