{% extends "base.html" %}

{% block content %}

<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Data Kehadiran</h4>
                        </div>
                        
                        <div class="row">
                                <div class="col-lg-3 col-lg-offset-8">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <form action="">
                                        <div class="input-group">
                                          <input type="date" value="" name="filter" class="form-control">
                                          <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Cari Data</button>
                                          </span>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        {% comment %} <div class="row m-b-md" id="summaryAbsensi">
                            <div class="col-xs-12">

                                <div class="row" id="t4_summary" style="padding: 20px;">
                                                <div class="col-md-6">
                                                    <table class="table tabel-sortir m-b-n-md">
                                                        <tbody>
                                                            <tr>
                                                                <td><span class="colorPresence1 m-r-sm warna"></span> Belum Ada Status </td>
                                                                <td>0</td>
                                                                <td class="belum_ada_status">0%</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="colorPresence2 m-r-sm warna"></span>
                                                                Hadir Hari Kerja                                                            </td>
                                                                <td class="jumlahPresentase">0</td>
                                                                <td class="presentase">0%</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="colorPresence3 m-r-sm warna"></span>
                                                                Sakit                                                           </td>
                                                                <td>0</td>
                                                                <td class="presentase">0%</td>
                                                            </tr>
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <table class="table tabel-sortir">
                                                        <tbody>
                                                        <tr>
                                                                <td><span class="colorPresence4 m-r-sm warna"></span>
                                                                Izin                                                            
                                                                </td>
                                                                <td>0</td>
                                                                <td class="presentase">0%</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="colorPresence5 m-r-sm warna"></span>
                                                                Cuti                                                            
                                                                </td>
                                                                <td>0</td>
                                                                <td class="presentase">0%</td>
                                                            </tr>
                                                        
                                                            <tr>
                                                                <td><span class="colorPresence11 m-r-sm warna"></span>
                                                                Terlambat                                                           
                                                                </td>
                                                                <td>0</td>
                                                                <td class="presentase">0%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                                                    <div class="row">

                                </div>

                            </div>
                        </div> {% endcomment %}
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Jam Masuk</th>
                                    <th>Jam Keluar</th>

                                </thead>
                                <tbody>
                                    {% for d in data %}
                                    <tr>
                                        <td>{{d.name}}</td>
                                        <td>{{d.status}}</td>
                                        <td>{{d.in}}</td>
                                        <td>{{d.out}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock  %}
