{% extends "base.html" %}

{% block content %}

<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Rekap Kehadiran</h4>
                        </div>
                        
                        <div class="row">
                                <div class="col-lg-3 col-lg-offset-8">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <form action="">
                                        <div class="input-group">
                                          
                                          <select name="month" id="month" class="form-control" required="required">
                                            {% for m in mounth %}
                                            <option value="{{forloop.counter}}">{{m}}</option>
                                            {% endfor %}
                                          </select>
                                          
                                          <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Cari Data</button>
                                          </span>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <th>Nama</th>
                                    <th>Total Masuk</th>
                                    <th>Sakit</th>
                                    <th>Ijin</th>
                                    <td></td>
                                </thead>
                                <tbody>
                                    {% for d in data %}
                                    <tr>
                                        <td>{{d.name}}</td>
                                        <td>{{d.jumlah_hadir}}</td>
                                        <td>{{d.jumlah_sakit}}</td>
                                        <td>{{d.jumlah_izin}}</td>
                                        <td><a href="{% url 'attendance-user'%}?employer_id={{d.id}}&month={{selectMonth}}">Lihat</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock  %}
