{% extends "base.html" %}

{% block content %}

<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">{{employer.name}}</h4>
                        </div>
                        
                    
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <td>Tanggal</td>
                                    <td>Satus</td>
                                    <th>Jam Masuk</th>
                                    <th>Jam Keluar</th>

                                </thead>
                                <tbody>
                                    {% for d in data %}
                                    <tr>
                                        <td>{{d.date }}</td>
                                        <td>{{d.status }}</td>
                                        <td>{{d.in}}</td>
                                        <td>{{d.out}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock  %}
