{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            Tujangan
                            <a href="{% url 'allowance-create' %}" class="btn btn-primary">Add</a>
                        </h4>
                        
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Nama</th>
                                <th>Jumlah</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for allowance in object_list %}
                                <tr>
                                    <td>{{allowance.id}}</td>
                                    <td>{{allowance.name}}</td>
                                    <td>{{allowance.amount}}</td>
                                    <td>
                                        <d iv class="btn-group">
                                            
                                              <a href="{% url 'allowance-update' allowance.id %}" class="btn btn-primary">Edit</a>
                                              <a  onclick="checkDelete({{allowance.id}})" class="btn btn-primary">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock  %}



{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.7/sweetalert2.all.min.js"></script>
<script>
        function checkDelete(id) {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                $.ajax({
                    url:"/allowance/delete/"+id,
                    type: 'GET',
                })
                .done(function(res) {
                    swal(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    location.reload();
                })
            }
        })
        }
    </script>

{% endblock  %}
