{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            Slip Gaji 
                            {% comment %} <a href="{% url 'pdf' object.id %}" class="btn btn-danger"><i class="ti-file"></i> PDF</a> {% endcomment %}
                
                        </h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-7">
                                    <table class="table table-responsive">
                                            <tbody>
                                                <tr>
                                                    <td width="25%">Nama</td>
                                                    <td>: {{object.employer.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>ID Karyawan</td>
                                                    <td>: {{object.employer.id}}</td>
                                                </tr>

                                            </tbody>
                                        </table>

                            </div>
                            <div class="col-xs-5">
                                <table class="table table-responsive">
                                <tbody>
                                    <tr>
                                        <td width="40%">Jabatan</td>
                                        <td>: {{object.employer.position}}</td>
                                    </tr>
                                    <tr>
                                        <td>Status PTKP</td>
                                        <td>: {{object.employer.status_pajak}}</td>
                                    </tr>
                                    <tr>
                                            <td width="40%">Jabatan</td>
                                            <td>: {{object.employer.position}}</td>
                                        </tr>
                                        <tr>
                                            <td>Bank</td>
                                            <td>: {{object.employer.name_bank}}</td>
                                        </tr>
                                        <tr>
                                                <td width="40%">Atas Nama</td>
                                                <td>: {{object.employer.account_name_bank}}</td>
                                            </tr>
                                            <tr>
                                                <td>No Rek</td>
                                                <td>: {{object.employer.no_bank}}</td>
                                            </tr>
                                 </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr class="success">
                                                    <th width="40%">Income</th>
                                                    <th>Unit</th>
                                                    <th class="tdUang">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in object.income  %}
                                                    <tr>
                                                        <td>
                                                            <div class="media m-v-n-i">
                                                                <div class="media-body media-middle">{{i.name}}</div>
                                                            </div>
                                                        </td>
                                                        <td>{{i.unit}}</td>
                                                        <td>Rp. <span class="pull-right">{{i.total}}</span></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                            </div>
                            <div class="col-md-5">
                                    <table class="table ">
                                        <thead>
                                            <tr class="success">
                                                <th width="50%">Deduction</th>
                                                <th class="tdUang">Unit</th>
                                                <th class="tdUang">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            {% for i in object.deduction  %}
                                            <tr>
                                            <td>
                                                <div class="media m-v-n-i">
                                                    <div class="media-body media-middle">{{i.name}}</div>
                                                </div>
                                            </td>
                                            <td>{{i.unit}}</td>
                                            <td>Rp. <span class="pull-right">{{i.total}}</span></td>
                                            </tr>
                                            {% endfor %}
                                       
                                        
                                        
                                        </tbody>
                                    </table>
                                </div>
                                

                        </div>
                        <div class="row">
                                <div class="col-md-7">
                                    <table class="table">
                                        <tbody>
                                            <tr class="success">
                                                <td width="72%">Total Income</td>
                                                <td >Rp. <span class="pull-right">{{object.total_income}}</span></td>
                                            </tr>
                                            <tr class="gapTr"></tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-5">
                                    <table class="table ">
                                        <tbody>
                                            <tr class="success">
                                                <td width="50%">Total Deduction</td>
                                                <td class="tdUang">Rp. <span class="pull-right">{{object.total_deduction}}</span></td>
                                            </tr>
                                            <tr class="gapTr"></tr>
                                            <tr class="success">
                                                <td width="50%">Take Home Pay</td>
                                                <td>Rp. <span class="pull-right">{{object.total_pay}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                    </div>
                </div>
            </div>

        </div>
        
        
    </div>
</div>



{% endblock  %}