
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
            <div class="col-md-8">
                    <div class="panel ">
                        <div class="panel-body panel-form"> 
                            <form action=""  method="post" class="form-horizontal">
                                {% csrf_token %}
                                
                                <div class="row ">
                                        <div class="col-xs-12">
                                            <h4 >Genreate Slip Gaji </h4>
                                            <hr>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                        Bulan
                                    </label>
                                    <div class="col-md-8">
                                        <select name="month" id="month" class="form-control" required="required">
                                            {% for m in mounth %}
                                                {% if forloop.counter == selectedMounth %}
                                                    <option value="{{forloop.counter}}"  selected>{{m}}</option>
                                                {%else%}
                                                    <option value="{{forloop.counter}}"  >{{m}}</option>
                                                {%endif%}
                                            {% endfor %}
                                          </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-4 control-label"><span class="bintang text-danger">* </span>
                                        Pegawai
                                    </label>
                                    <div class="col-md-8">
                                        <select name="employer" id="employer" class="form-control" required="required">
                                            {% for employer in employers %}
                                            <option value="{{employer.id}}">{{employer.name}}</option>
                                            {% endfor %}
                                          </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="pull-right">
                                                <button class="btn btn-warning btn-sm" type="submit">
                                                    Simpan                                      </button>
                                                <a href="/employer">
                                                    <button class="btn btn-danger btn-sm" type="button">Batal</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                            </form>
                        </div>
                    </div>
            </div>
    </div>

</div>
{% endblock  %}