{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            Slip Gaji<a href="{% url 'payroll-generate' %}" class="btn btn-primary">Add</a>
                        </h4>
                        <div class="row">
                                <div class="col-lg-3 col-lg-offset-8">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <form action="">
                                        <div class="input-group">
                                          <select class="form-control"  name="month" class="form-control">
                                                {% for m in listMonth %}
                                                {% if forloop.counter == month %}
                                                    <option value="{{forloop.counter}}"  selected>{{m}}</option>
                                                {%else%}
                                                    <option value="{{forloop.counter}}"  >{{m}}</option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                          <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Cari Data</button>
                                          </span>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>Nama</th>
                                <th>Total Gaji</th>
                                <th>Status Pembayaran</th>
                                <th>Slip Gaji</th>
                                
                            </thead>
                            <tbody>
                                {% for d in object_list  %}
                                <tr>
                                    <td>{{d.employer.name}}</td>
                                    <td>{{d.total_pay}}</td>
                                    <td>
                                        {% if d.payment_status %}
                                        <button type="button" class="btn btn-secondary active">Sudah di Bayar</button>                                        
                                        {% else %}
                                        <a href="{% url 'payroll-pay' d.id %}" class="btn btn-secondary active">Bayar</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a  href="{% url 'payroll-detail' d.id  %}" class="btn btn-primary">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock  %}