{% extends "base.html" %}

{% block modal %}
<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Image preview</h4>
            </div>
            <div class="modal-body">
              <img src="" id="imagepreview" style="width: 400px; height: 264px;" >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>
{% endblock  %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            Pengajuan Izin/Sakit
                        </h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>Tgl Izin</th>
                                <th>Type</th>
                                <th>Surat</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                {% for izin in object_list %}
                                <tr>
                                    <td>{{izin.date}}</td>
                                    <td>{{izin.type}}</td>
                                    <td>
                                        <button data-image="/media/{{izin.surat}}"  type="button" class="btn btn-info pop">Lihat</button>
                                    </td>
                                    <td>
                                        {% if izin.status %}
                                        Disetujui
                                        {% else %}
                                        Belum
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock  %}



{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.7/sweetalert2.all.min.js"></script>
<script>
        $( document ).ready(function() {
            $(".pop").on("click", function() {
                var image = $(this).attr('data-image');
                $('#imagepreview').attr('src',image);
                $('#imagemodal').modal('show');

             });
        });
        function checkDelete(id) {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                $.ajax({
                    url:"/employer/delete/"+id,
                    type: 'GET',
                })
                .done(function(res) {
                    swal(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    location.reload();
                })
            }
        })
        }
    </script>

{% endblock  %}
